@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Sobrescribir estilos por defecto de Jetstream */
.bg-gray-100 {
    background-color: rgb(240 253 244) !important; /* green-50 */
}

.dark .bg-gray-900 {
    background-color: rgb(17 24 39) !important; /* gray-900 */
}

.text-gray-800 {
    color: rgb(22 101 52) !important; /* green-800 */
}

.dark .text-gray-200 {
    color: rgb(34 197 94) !important; /* green-400 */
}

.bg-white {
    background-color: white;
}

.dark .bg-gray-800 {
    background-color: rgb(31 41 55) !important; /* gray-800 */
}